#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "streamlit"
name = "Streamlit"
description.en = "Quickly transform Python scripts into interactive web apps"
description.fr = "Transformez rapidement des scripts Python en applications web interactives"

version = "1.52.1~ynh1"

maintainers = ["Gredin67"]

[upstream]
license = "Apache-2.0"
website = "https://streamlit.io"
demo = "https://streamlit.io/playground"
admindoc = "https://docs.streamlit.io/deploy"
userdoc = "https://docs.streamlit.io/develop"
code = "https://github.com/streamlit/streamlit"
cpe = "cpe:2.3:a:snowflake:streamlit"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = "not_relevant"
sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/streamlit"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "fr"

    [install.repo]
    ask.en = "Give the URL of the Streamlit project repo"
    ask.fr = "Donnez l'URL du dépôt du projet Streamlit"
    type = "url"

    [install.app_name]
    ask.en = "Give the name of the Streamlit App to run with Python"
    ask.fr = "Donnez le nom de l'App Streamlit à lancer avec Python"
    type = "string"
    default = "streamlit_app.py"

[resources]
    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8501

    [resources.apt]
    packages = [
        "build-essential",
        "python3-venv",
        "python3-dev",
        "python3-pip",
    ]
